body {
    background-color: #272635;
    color: #CECECE;
}

#titulo {
    background: linear-gradient(90deg, #B1E5F2, #49aec7);
    color: #272635;
    text-align:center;
}

#container {
    margin-left: auto;
    margin-right: auto;
    background-color: #272635;
}

#citacao-1 {
    height: 75px;
}

p span {
    border: 0 solid black;
    padding: 12px;
    position: relative;
    background-color: #272635;
}

#texto {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}

#principal {
    height: 700px;
    width: 800px;
    background-color: #272635;
    position: relative;
    top: 25px;
    left: 250px;
    font-family: 'Nunito', sans-serif;
}

.nome-livro {
    width: 400px;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
}

#foto-autora {
    width: 250px;
}

#foto-2 {
    width: 350px;
}

#secundario {
    background-color: #272635;
    float: right;
    clear: both;
    position: relative;
    bottom: 700px;
    right: 250px;
    height: 700px;
    width: 290px;
}

.info {
    font-size: 90%;
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-bottom: 2em;
    text-align: center;
    background-color: #272635;
}

.th, .info td {
    vertical-align: top;
    border: 0;
    border-bottom: 1px solid #dddddd;
    padding: 0.2em;
}

#resumo {
    font-family: 'Dongle', sans-serif;
    font-weight: bold;
    font-size: 26px;
}

#footer {
    background-color: #B1E5F2;
    color: #272635;
    height: 200px;
}

#quote {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    position: relative;
    top: 5px;
    left: 150px;
}

a {
    color: black;
    text-align: none;
}

a:hover {
    text-decoration: underline;
    color: #49aec7;
}